# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
linux/
macos/
web/
windows/

# IDEs
.vscode/
.idea/

# Android Studio/IntelliJ
*.iml
*.ipr
*.iws
*.bak

# VS Code
*.code-workspace

# Arquivos do sistema
*.DS_Store
*.log
*.swp
*.tmp
*.lock

# Arquivos gerados por builds
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# Arquivos que você pode reconstruir
pubspec.lock

# Arquivos pessoais de configuração
*.jks
*.keystore
local.properties
.env

# Web/Desktop se não for usar
web/
linux/
windows/
macos/
